<section class="hero">
  <div class="hero__container">
    <!-- <h2 class="visually-hidden">News_gallery</h2> -->

    <ul class="hero-gallery">
      <li class="hero-gallery__item">
        <h2>Job searching</h2>
        <div>
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_1_1x.jpg"
            alt=""
            width="395
              "
          />
          <button
            class="hero-gallery__btn"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="hero-gallety__icon" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="hero-gallery__subtitle">
          8 tips for passing an online interview that will help you get a job
        </h3>
        <p class="hero-gallery__text">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="img_gallery"
            src="./images/hero-section/page_2_1x.jpg"
            alt=""
            width="395
              "
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="icon_svg" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="subtitle_gallety">
          How to create an effective work-at-home policy
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_3_1x.jpg"
            alt=""
            width="395
              "
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
        </div>
        <h3 class="subtitle_gallety">
          8 tips for passing an online interview that will help you get a job
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_4_1x.jpg"
            alt=""
            width="395
              "
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="icon_svg" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="subtitle_gallety">
          How to create an effective work-at-home policy
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_5_1x.jpg"
            alt=""
            width="395
              "
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="icon_svg" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="subtitle_gallety">
          How to create an effective work-at-home policy
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_6_1x.jpg"
            alt=""
            width="395
              "
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="icon_svg" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="subtitle_gallety">
          8 tips for passing an online interview that will help you get a job
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_7_1x.jpg"
            alt=""
            width="395"
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="icon_svg" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="subtitle_gallety">
          How to create an effective work-at-home policy
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>

    <ul class="hero-gallery">
      <li class="item_gallery">
        <h2>Job searching</h2>
        <div class="page_gallery">
          <img
            class="hero-gallery__image"
            src="./images/hero-section/page_8_1x.jpg"
            alt=""
            width="395"
          />
          <button
            class="hero_btn_favofite"
            type="submit"
            onclick="addToFavorites()"
          >
            Add to favorite
          </button>
          <svg class="icon_svg" width="16" height="16">
            <use
              href="./images/icons/icons.svg#icon-akar-icons_heart-2"
              width="15"
            ></use>
          </svg>
        </div>
        <h3 class="subtitle_gallety">
          How to create an effective work-at-home policy
        </h3>
        <p class="text_gallety">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div>
          <p>23/03/2023</p>
          <button class="hero-gallery__description" type="submit">
            Read more
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
